.link {
  text-decoration: none;
}

/*----------------------- NAVBAR -----------------------*/

.logo{
  width: 80px
}

.navbar_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: hsla(44, 95%, 49%, 0.94);
  border-bottom: 2px solid white;
}

.navbar_items{
  list-style-type: none;
  display: flex;
}

.navbar_items li{
  padding: 0px 3rem;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

/*----------------------- HOME -----------------------*/

.home_container{
  height: 60rem;
  background-image: url("./images/pngegg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsla(242, 45%, 56%, 0.944);
}

.home-content{
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10rem 10rem;
}

.home-content h1{
  font-size: 4.5rem;
  line-height: 4.5rem;
  margin: 0 0;
  color: hsl(7, 92%, 60%);
}

.home-content h2{
  font-size: 2rem;
  color: black;
  margin-bottom: 0;
}

.home-content p{
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

.home-content button{
background-color: hsla(44, 95%, 49%, 0.94);
border-radius: 20px;
padding: 1rem 2rem;
font-size: 16px;
font-weight: 700;
}

/*----------------------- COUNTRIESLIST -----------------------*/
.countriesList_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 2rem 6rem;
  background-color: hsla(357, 63%, 57%, 0.95);
}


.countries_container{
  height: 35rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  background-color: hsla(357, 94%, 75%, 0.579);
  border: 1px solid black;
  padding-bottom: 2rem;
}

.countries_container h1{
  font-size: 3rem;
}

.countries_container h2{
  color: black;
}

.countries_container img{
  height: auto;
  width: 22rem;
}

.countries_container button{
font-size: 16px;
padding: 0.3rem 1rem;
border-radius: 10px;
}


.pagination{
  background-color: hsla(357, 63%, 57%, 0.95);
  height: 6rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
/*----------------------- COUNTRY -----------------------*/
.country_item{
  height: 55rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fc636b;
}

.country_name{
  margin-bottom: 0px;
  font-size: 60px;
}

.country_region{
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 35px;
}

.country_subregion{
  font-size: 20px;
  margin-top: 10px;
}

.country_image{
  border: 1px solid black
}

span{
  font-size: 22px;
}

.border_items{
  list-style-type: none;
}